@font-face {
    font-family: 'Gotham-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/GothamLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/GothamMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/GothamBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/GothamBook.ttf') format('truetype');
}