$primary: #9e801c;
$light-primary: #efebdb;
$body-color: #282828;
$body-bg: #ffffff;

$header-bg: #040404;

// Font Variables

$font-family-base: 'Gotham', sans-serif; // Gotham Book
$font-family-gotham-light: 'Gotham-light', sans-serif;
$font-family-gotham-medium: 'Gotham-Medium', sans-serif;
$font-family-gotham-bold: 'Gotham-Bold', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

$grid-gutter-width: 50px;